awscli==1.16.92
botocore==1.12.82
certifi==2021.5.30
click @ file:///D:/bld/click_1621503870656/work
colorama==0.3.9
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1621629915293/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1625463875252/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1621360792037/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1621419064915/work
jmespath==0.9.3
MarkupSafe @ file:///D:/bld/markupsafe_1621455845013/work
numpy @ file:///D:/bld/numpy_1624400122520/work
pandas @ file:///D:/bld/pandas_1625236732352/work
pyasn1==0.4.5
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
rsa==3.4.2
s3transfer==0.1.13
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1622748266870/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1621518206714/work
wincertstore==0.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1625284368454/work
